<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-faded">I'm currently a Ph.D. Candidate at Vanderbilt University. I'm a cancer systems biologist studying phenotypic heterogeneity and plasticity in Small Cell
                Lung Cancer. We think that plasticity of cell identity is a major cause for the inevitable relapse of SCLC tumors, as cells transition to a resistant state that no longer responds to treatment.
                I'm also interested in single cell analysis, machine learning, and bioinformatics. Besides science, I am obsessed with art, music, and the ocean.</p>
            </div>
        </div>
    </div>
</section>
