<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sarah Maddox Groves</h1>
            <hr>
            <p> I'm currently a Ph.D. Candidate at Vanderbilt University. I'm a cancer systems biologist studying phenotypic transitions in Small Cell
            Lung Cancer, but I'm also interested in single cell analysis, machine learning, and bioinformatics.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Go to Portfolio</a>
        </div>
    </div>
</header>
