<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sciencedirect.com/science/article/pii/S1535610820306620?dgcid=author" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Manuscript
                            </div>
                            <div class="project-name">
                                Patterns of transcription factor programs and immune pathway activation define four major subtypes of SCLC with distinct therapeutic vulnerabilities
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.biorxiv.org/content/10.1101/2021.01.22.427865v1" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pre-Print
                            </div>
                            <div class="project-name">
                                Cancer Hallmarks Define a Continuum of Plastic Cell States between Small Cell Lung Cancer Archetypes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.biorxiv.org/content/10.1101/2020.11.11.362632v1" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pre-Print
                            </div>
                            <div class="project-name">
                                ASCL1 represses a latent osteogenic program in small cell lung cancer in multiple cells of origin
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://journals.plos.org/ploscompbiol/article/authors?id=10.1371/journal.pcbi.1007343" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Manuscript
                            </div>
                            <div class="project-name">
                                Systems-level network modeling of Small Cell Lung Cancer subtypes identifies master regulators and destabilizers
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
